/* Global Selector */
:root {
    --main-green: #778807;
    --dark-green: #006400;
    --light-green: #9EF01A;
    --deep-red: #993728;
    --beige-thick: #F0EAD2;
    --beige-thin: #FBF8EC;
    --section-title: 4.0rem;
    --section-text: 2.5rem;
    --section-text-small: 2.0rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    line-height: 1.4;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-title {
    font-size: var(--section-title);
    font-weight: 500px;
    font-family: "Noto Serif JP", serif;
    text-align: center;
    color: black;
}
.divider {
    height: 2px;
    background-color: var(--dark-green);
    padding: 0;
}
section {
    padding: 60px 0;
}

/* Navigation */
nav {
    font-size: var(--section-text-small);
    background-color: var(--main-green);
    color: white;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo img {
    width: 90px;
    height: auto;
}
.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.languages i {
    font-size: 5.0rem;
    background: linear-gradient(-135deg, #004B23 0%, #007200 25%, #38B000 50%, #9EF01A 75%, #CCFF33 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.languages i:hover, .languages a:hover {
    opacity: 0.6;
    cursor: pointer;
}
.languages a {
    color: white;
    font-size: var(--section-text);
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
    font-size: var(--section-text);
}
.nav-links {
    list-style: none;
    padding: 5px 30px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
.distinct {
    background-color: var(--dark-green);
    border-radius: 30px;
    box-shadow: 2 4px 4px rgba(0, 0, 0, 0.2);
}
.nav-links:hover {
    background-color: var(--dark-green);
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2 4px 4px rgba(0, 0, 0, 0.2);
}

/* Hero */
.hero {
    background-color: var(--beige-thick);
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.hero-img {
    height: auto;
    max-width: 600px;
    border-radius: 30px;
}
.titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company-name {
    font-size: var(--section-title);
    color: var(--deep-red);
}
.hero-title {
    font-size: 6.0rem;
    font-family: "Noto Serif JP", serif;
    color: var(--dark-green);
    font-weight: 600;
}

/* About */
.about {
    background-image: url('/static/images/about.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px 0;
}
.about-title {
    color: var(--light-green);
}
.about-text {
    font-size: var(--section-text);
    color: white;
}
.about-button {
    background-color: var(--light-green);
    padding: 10px 20px;
    font-size: var(--section-text);
    border-radius: 30px;
    border: none;
}
.about-button a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.about-button:hover {
    background-color: var(--dark-green);
}
.about-button:hover a {
    color: white;
}

/* History and Organic */
.history-organic {
    background-color: var(--beige-thin);
    text-align: center;
}
.history-organic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}
.history, .organic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--beige-thick);
    padding: 20px;
    border-radius: 30px;
    width: 500px;
    height: 600px;
}
.history img, .organic img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.history h3, .organic h3 {
    font-size: 3.0rem;
    color: black;
    font-weight: 600;
}   
.history button, .organic button, .footer-button {
    background-color: var(--deep-red);
    padding: 10px 20px;
    font-size: var(--section-text);
    border-radius: 30px;
    border: none;
}
.history a, .organic a, .footer-button a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.history button:hover, .organic button:hover, .footer-button:hover {
    opacity: 0.8;
}

/* Event Info */
.event {
    background-color: var(--beige-thin);
    text-align: center;
    margin-top: -40px;
}
.event-text {
    font-size: var(--section-text);
    padding: 40px;
}
.event-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.event-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: var(--section-text);
}
.event-item img {
    width: 300px;
    height: auto;
    border-radius: 100%;
    border: solid 2px #85C321;
}
.event-item img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Footer */
footer {
    background-color: var(--beige-thick);
    text-align: center;
    padding: 50px 0;
}
.footer-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.footer-insta {
    font-size: 7.0rem;
    background: linear-gradient(#5455D1 0%, #8B2FA3 25%, #E43266 50%, #F77147 75%, #FEC95B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.footer-insta:hover {
    opacity: 0.6;
    cursor: pointer;
}
.footer-contents p {
    font-size: 3.0rem;
    font-weight: 500;
}
.copyright {
    font-size: 2.0rem;
    color: white;
    background-color: #006400;
    text-align: center;
    padding: 15px 0;
}
